html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

#logInScreen {
    position: absolute;
    display:flex;
    background-image: url("assets/images/LoginBackground.png");
    background-repeat: repeat-x;
    width: 90%;
    height: 100%;
    z-index: 10;
    overflow-x: hidden;
}

#wallpaper{
    position: absolute;
    display : flex;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: -1;
}

#taskBar{
    position: absolute;
    background-image: url("assets/images/taskbar.png");
    background-repeat: repeat-x;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 31px;
    z-index:0;
    overflow: hidden;
}

#widgetTaskbar{
    position:absolute;
    background-image: url("assets/images/taskbarWidgets.png");
    background-repeat: repeat-x;
    right : 0;
    bottom: 0;
    width: 15%;
    height: 31px;
    z-index: 1;
    overflow: hidden;
}

#taskbarClock{
    position: absolute;
    right: 10px;
    bottom: 6px;
    font-family:  "Comic Sans Ms";
    font-size: 12px;
    color: white;
    z-index: 2;
}

#startMenu{
    position:relative;
    bottom:0px;
    left:0;
    z-index: 1;
}

.startMenuButton-idle{
    width: 97px;
    height: 31px;
    background-image: url("assets/images/startMenuButton-idle.png");
    background-repeat: no-repeat;
    display: inline-block;
}

.startMenuButton-onHover {
    width: 97px;
    height: 31px;
    background-image: url("assets/images/startMenuButton-onHover.png");
    background-repeat: no-repeat;
    display: inline-block;
}

.startMenuButton-onClick {
    width: 97px;
    height: 31px;
    background-image: url("assets/images/startMenuButton-onClick.png");
    background-repeat: no-repeat;
    display: inline-block;
}

#startMenuLogo{
    position:absolute;
    left: 4px;
    bottom: 10px;
    width:20px;
    height:19px;
    background-image: url("assets/images/SmallWindowsLogo.png");
    background-repeat: no-repeat;
    z-index: 2;
}

#startMenuText{
    position:absolute;
    left: 30px;
    bottom: 6px;
    font-family:  "Comic Sans MS";
    font-size: 22px;
    color: white;
    z-index: 2;
}